<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414352772424-g353r46tvc95i61homalifb8rrv18plp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414352772424-g353r46tvc95i61homalifb8rrv18plp</string>
	<key>API_KEY</key>
	<string>AIzaSyCGEfS_Ofg2z-XqPBX9QLrV1tTw_SAgTec</string>
	<key>GCM_SENDER_ID</key>
	<string>414352772424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwiftUITwitterClone</string>
	<key>PROJECT_ID</key>
	<string>swiftuitwitterclonetutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitwitterclonetutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414352772424:ios:2d830304aa082dbf1f377d</string>
</dict>
</plist>